{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
XXXWORLD-{{ video.title }}
{% endblock %}

{% block content %}
<style>
  button {
    background-color: rgb(236, 224, 222);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #2a2424;
  }
</style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    $('#like-button').click(function () {
      var video_id = $(this).data('video-id');
      var likes_count = $(this).data('likes-count');

      $.ajax({
        type: 'POST',
        url: '/videos/video/' + video_id + '/',
        data: { 'csrfmiddlewaretoken': '{{ csrf_token }}' },
        dataType: 'json',
        success: function (response) {
          if (response.liked) {
            $('#like-button').html('Unlike');
          } else {
            $('#like-button').html('Like');
          }
          $('#like-count').text(response.like_count);
        },
        error: function (error) {
          console.log('Error:', error);
        }
      });
    });
  });
</script>

<link href="https://unpkg.com/video.js/dist/video-js.css" rel="stylesheet">


<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h2 class="title"><strong></strong></h2>
      <ol>
        <li> <a href="{% url 'videos:category-list' video.category.slug %}"> {{video.category}}</a></li>
        <li> <a href="#">{{video.title}}</a></li>
      </ol>

    </div>
  </div>
</section>
<!-- End Breadcrumbs -->
<!-- ======= Blog Details Section ======= -->
<section id="blog" class="blog">
  <div class="container" data-aos="fade-up">
    <div class="row g-5">
      <div class="col-lg-9">
        <article class="blog-details">
          <h2 class="title"></h2>
          <h2></h2>
          <div class="post-img ">
            <video style="padding: initial;" height="500px" width="900" preload="auto" controls>
              <source src="{{ video.video.url }}" type="video/mp4">
            </video>
          </div>
          <h2 class="title">{{video.title}}</h2>
          <div class="meta-top">
            <ul>
              <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a
                  href="{% url 'videos:user_videos' video.uploader.username %} ">{{video.uploader}}</a></li>
              <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a><time
                    datetime="2020-01-01">{{video.upload_date}}</time></a></li>
                {%if user.is_authenticated%}
              <li class="d-flex align-items-center"> <button><i class="bi bi-arrow-down"></i> <a
                    href="{{video.video.url}}">{{video.size}}</a></li></button>
                {%else%}
                <li class="d-flex align-items-center"> <button><i class="bi bi-arrow-down"></i> <a
                      href="{% url 'login' %}">{{video.size}}</a></li></button>
                    {%endif%}
              <li class="d-flex align-items-center"><i class="bi bi-eye"></i> <a>{{video.views}} Video views</a></li>
              <li>
                <!-- Add this inside your video detail page where you want the like button -->
                {%if user.is_authenticated%}

                <form method="POST" action="" id="like-form" name="like-form">
                  <button id="like-button" data-video-id="{{video.id}}" data-likes-count="{{video.like_count}}">
                    {%if user in video.likes.all %} <i class="bi bi-suit-heart"> Unlike</i>{% else%} <i class="bi bi-suit-heart-fill" >Like</i> {%endif%}
                  </button>
                  <a> {{ video.likes.count }}
                    {% if video.likes.count == 1 %} Like <i style="fill: red;color: red;"
                      class="bi bi-suit-heart-fill"></i>
                    {%else %} Likes <i style="fill: red;color: red;" class="bi bi-suit-heart-fill"></i>
                    {%endif%}</a>
                </form>
                {%else%}
                <a>
                  {{ video.likes.count }}
                  {% if video.likes.count == 1 %} Like <i style="fill: red;color: red;"
                    class="bi bi-suit-heart-fill"></i>
                  {%else %} Likes <i style="fill: red;color: red;" class="bi bi-suit-heart-fill"></i>
                  {%endif%}
                </a>
                {%endif%}
              </li>
            </ul>
            <div class="">

            </div>
          </div><!-- End meta top -->
          <div class="content">
            <blockquote>
              <p style="color: red;">
                {{video.description}}
              </p>
            </blockquote>
          </div><!-- End post content -->
          <div class="meta-bottom">
            {%if user.is_authenticated%}
            <i class="bi bi-share"> <a href="{{ video.video.url }}"> Copy link and share with friends</a></i>
            {%else%}
            <i class="bi bi-share"> <a href="{% url 'login' %}"> Copy link and share with friends</a></i>
            {%endif%}
            <ul class="cats">
              <li><a href="#"> </a></li>
            </ul>

            <i class="bi bi-tags"></i>
            <ul class="tags">
              {% for tag in video.tags.all %}
              <li><a href="#">{{ tag.name }}</a></li>
              {% endfor %}
            </ul>
          </div><!-- End meta bottom -->
        </article>

        <div class="comments">

          <h4 class="comments-count"> Comments</h4>
          {%for item in comments%}
          <div id="comments-section" class="comment">
            <div class="d-flex">
              <div class="comment-img"> <a href="{% url 'videos:user_videos' item.user.username%}"> <img
                    src="{{item.user.profile.image.url}}" alt=""></a></div>
              <div>
                <time> {{item.user.username}}</time>
                <time datetime="2020-01-01">{{item.created_at}}</time>
                <div>
                  {{item.text}}
                </div>
              </div>
            </div>
          </div><!-- End comment #1 -->
          {%endfor%}
          <div class="reply-form">
            {% if user.is_authenticated %}
            <form method="POST" action=" {% url 'videos:video' video.id %}">
              {%csrf_token%}
              {{form|crispy}}
              <br>
              <button style="background-color: rgb(226, 0, 0);" type="submit" class="btn btn-primary"
                value="Post comment">
                Post Comment
              </button>
            </form>
            {% else%}
            <h4><a href="{% url 'login' %}">Sign in </a>to comment on the post</h4>
            {% endif %}
            <div>

            </div>
          </div>
        </div><!-- End blog comments -->
      </div>

      <div class="col-lg-3">

        <div class="sidebar">

          <div class="sidebar-item search-form">
            <h3 class="sidebar-title"><a href=> Explore the website</a></h3>
            <a href=" {% url 'videos:search' %}"><button type="submit">Search<i class="bi bi-search"></i></button></a>
          </div><!-- End sidebar search formn-->


          <div class="sidebar-item categories">
            <lass="sidebar-title">
              <h3 class="sidebar-title"><a href="{% url 'videos:category' %}"> Explore our categories</a></h3>
              <ul class="mt-3">
              </ul>
              {% for category in categories %}
              <li><a href="{% url 'videos:category-list' category.slug %}"> {{ category.name }} videos</a></li>
              {% endfor %}
              </ul>
          </div><!-- End sidebar categories-->

          <div class="sidebar-item recent-posts">
            <h3 class="sidebar-title"><a href="{% url 'videos:related_videos' video.id %}"> See all related Videos</a>
            </h3>

            <div class="mt-3">

              {% for related_video in related_videos|slice:":5" %}
              <div class="post-item mt-3">
                <a href="{% url 'videos:video' related_video.id %}"><img src="{{ related_video.thumb.url }}" alt=""
                    height="100px" width="100px" class="flex-shrink-0"></a>
                <div>
                  <h4><a href="{% url 'videos:video' related_video.id %}">{{ related_video.title }}</a></h4>
                  <time style="color: red;" datetime="2020-01-01">{{related_video.upload_date}}</time>
                </div>
              </div><!-- End recent post item-->
              {% endfor %}

            </div>

          </div><!-- End sidebar recent posts-->

          <div class="sidebar-item tags">
            <h3 class="sidebar-title">Tags</h3>
            <ul class="mt-3">
              {% for tag in video.tags.all %}
              <li><a href="#">{{ tag.name }}</a></li>
              {% endfor %}


            </ul>
          </div><!-- End sidebar tags-->

        </div><!-- End Blog Sidebar -->

      </div>
    </div>

  </div>
</section><!-- End Blog Details Section -->



{% endblock %}